body {
  background-image: url("./pictures/pokerBackground.png");
  /* background-position: center; */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#startpage {
  margin: 0px auto;
  text-align: center;
  /* border: 1px solid red; */
  /* background-color: turquoise; */
  position: relative;
  top: 300px;
  font-family: "Poker", sans-serif;
}

#settingPage {
  margin: 0px auto;
  /* text-align: center; */
  /* background-color: green; */
  position: relative;
  top: 50px;
  left: 100px;
  right: 100px;
  font-size: 1.5em;
  background-color: turquoise;
  padding: 2em;
  font-family: "Bebas Neue", cursive;
}

h1.playersPage {
  font-size: 4em;
  font-family: "Dancing Script", cursive;
}

.click-to-start {
  font-size: 2em;
}

.card {
  background-color: beige;
}

.playerPages {
  margin: 0px auto;
  text-align: center;
  background-color: blanchedalmond;
}

input[type="text"] {
  width: 7%;
  padding: 6px 10px;
  margin: 8px 8px 8px 0px;
  box-sizing: border-box;
}
