body {
  background-image: url("./pictures/pokerBackground.png");
  /* background-position: center; */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#startpage > h1 {
  font-size: 5em;
}

.result {
  font-size: 5em;
  background-color: white;
  /* margin-top: 5%; */
  text-align: center;
  margin: auto;
  margin-top: 7%;
  width: 75%;
}

.result > h3 {
  margin-top: 40px;
  height: 150px;
}

#startpage {
  margin: 0px auto;
  text-align: center;
  /* border: 1px solid red; */
  /* background-color: turquoise; */
  position: relative;
  top: 300px;
  font-family: "Poker", sans-serif;
  width: 100px;
}

#settingPage {
  position: relative;
  top: 50px;
  font-size: 1.5em;
  background-color: turquoise;
  padding: 2em;
  font-family: "Bebas Neue", cursive;
  margin: 0px auto;
  width: 75%;
}

h1.playersPage {
  font-size: 4em;
  font-family: "Dancing Script", cursive;
  margin-bottom: 10px;
}

.click-to-start {
  font-size: 2em;
  cursor: pointer;
  width: 15%;
  margin: 0px auto;
}

.hideBtn {
  cursor: pointer;
  width: 20%;
  margin: 0px auto;
}

.card {
  background-color: beige;
}

.playerPages {
  margin: 0px auto;
  text-align: center;
  background-color: blanchedalmond;
  width: 75%;
}

input[type="text"] {
  width: 7%;
  padding: 6px 10px;
  margin: 8px 8px 8px 0px;
  box-sizing: border-box;
}

input.playerInput {
  width: 15%;
  padding: 6px 10px;
  margin: 8px 8px 8px 0px;
  box-sizing: border-box;
}

footer {
  position: absolute;
  margin: 0px auto;
  text-align: center;
  bottom: 0%;
  color: white;
  cursor: default;
}

button.result {
  background-color: grey;
  font-size: 1rem;
  bottom: 10%;
  width: auto;
}

p.playersPage {
  width: 25%;
  background-color: white;
  margin: auto;
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
}

.betSize .postSize {
  margin: auto;
  width: 40%;
}

p.community .hidden > p .hideBtn {
  margin: 5px;
}
